@font-face {
font-family: 'HelveticaNeueLT-UltraLight';
src: local('HelveticaNeue LT 25 UltLight'), local('HelveticaNeueLTUltraLight'), url('helvetica_lt_25_ultra_light-webfont.svg#webfontwDzQ26Ug') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'HelveticaNeueLT-Light';
src: local('HelveticaNeue LT 45 Light'), local('HelveticaNeueLTLight'), url('helvetica_lt_45_light-webfont.svg#webfontc7T4Z6tx') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueLT-Black';
	src: local('HelveticaNeue LT 95 Black'), local('HelveticaNeueLTBlack'), url('helvetica_lt_95_black-webfont.svg#webfontTOzeoXFt') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Boycott';
    src: url('boycott-webfont.svg#webfont1UFjOOFL') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ChatoBandSmooth';
    src: url('cb_sm-webfont.svg#webfontaJeIpbGL') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GrilledCheeseBTNCnBold';
    src: url('grilledcheese_btn_cn_bold-webfont.svg#webfonttkqwt3oT') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GrilledCheeseBTNCn';
    src: url('grilledcheese_btn_cn-webfont.svg#webfontnbFUKmdE') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Herculanum';
    src: url('herculanum-webfont.svg#webfonthjazwSWm') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Satisfaction';
    src: url('satisfaction-webfont.svg#webfontdrewQkc4') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SwanSong';
    src: url('swan_song-webfont.svg#webfontFgn2EOAR') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Climacons';
    src: url('climacons-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

#noTheme
{
	display:block;
	width:320px;
	height:480px;
	background:url('download.png') no-repeat scroll center center black;
	position:absolute;
	top:0;
	left:0;
	color:white; 
}



*{
-webkit-tap-highlight-color:transparent;
}
body {
margin: 0;
padding: 278px 0 0 0;
height: 480px;
width: 320px;
background-color:black;
color:white;
text-shadow:0px 0px 5px black;
font-family:"helvetica";
overflow:hidden; /*just like my women*/
position:relative;
}
#background
{
display:block;
width:320px;
height:480px;
background:black url('LockBackground.png?1304183446') no-repeat 0px 0px;
position:absolute;
top:0px;
left:0px;
background-size: 100%;
z-index:-1;
}
@-webkit-keyframes loaderFadeOut {
0% {
opacity:.8;
}
50% {
opacity:.4;	
}
100% {
opacity:0;
}
}
#loader
{
-webkit-animation-name: loaderFadeOut;
-webkit-animation-duration: .2s;
-webkit-animation-iteration-count: 1;
-webkit-animation-timing-function: linear;
opacity:.8;
background:url("ajax-loader.gif") no-repeat scroll center center black;
display:none;
height:80px;
left:120px;
position:absolute;
top:300px;
width:80px;
-moz-border-radius: 15px;
border-radius: 15px;
}
@-webkit-keyframes loaderFadeIn {
0% {
opacity:0;
}
50% {
opacity:.4;	
}
100% {
opacity:.8;
}
}
#loader.visible
{
display:block;
-webkit-animation-name: loaderFadeIn;
-webkit-animation-duration: .2s;
-webkit-animation-iteration-count: 1;
-webkit-animation-timing-function: linear;
}
#unlock.faded
{
opacity:.4;
}
@-webkit-keyframes opacity {
0% {
opacity:1;
}
50% {
opacity:.4;	
}
100% {
opacity:1;
}
}
.hidden
{
	display:none!important;
}
#unlock {
-webkit-animation-name: opacity;
-webkit-animation-duration: 4s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-direction: alternate;
-webkit-animation-timing-function: ease-in-out;
font-size:30px;
text-shadow:0px 0px 5px black;
font-family:"HelveticaNeueLT25UltLightRegu";
top:420px;
text-align:right;
width:300px;
display:block;
left:0px;
}

div span
{
	bottom:0;
	position:relative;
	display:block;
}

/* SLIDESHOW */

.slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 480px;
    overflow: hidden;
}
.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 320px;
}
.slide.zoomOut {
    opacity: 1.0;
    -webkit-transform: scale(1.0);
    -webkit-transform-origin: 50% 50%;
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-duration: 10.0s, 2.0s;
    -webkit-transition-delay: 3.0s, 0;
}
.slide.zoomIn {
    -webkit-transform: scale(4.0);
    opacity: 0.0;
}
.slide.current {
    z-index: 0;
}
.slide.last {
    z-index: -1;
}
.slide.next {
    z-index: -2;
}