<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>categoriesArray</key>
	<array>
		<string>Minimal</string>
		<string>Sports</string>
		<string>Space</string>
		<string>Nature</string>
	</array>
	<key>cloud</key>
	<dict>
		<key>APIKey</key>
		<string>781b31ba4b7997fdccf5eb0ef357f656</string>
		<key>icons</key>
		<string>http://static.gmtaz.com/weather</string>
		<key>themes</key>
		<string>http://clockbuilder.gmtaz.com/resources/iphone</string>
		<key>themes - old</key>
		<string>http://c480887.r87.cf2.rackcdn.com</string>
	</dict>
	<key>fileLinks</key>
	<array>
		<string>Wallpaper.html</string>
		<string>weather.js</string>
		<string>LockBackground.png</string>
		<string>LockBackground.html</string>
		<string>data.js</string>
		<string>weatherData.js</string>
		<string>style.css</string>
		<string>build.js</string>
		<string>slideindex.txt</string>
	</array>
	<key>gmtAPI</key>
	<string>SDFB52f4vw9230V45gdfg</string>
	<key>gmtUDID</key>
	<string>183d804de6e59582d59416e55783e35ad66367b8</string>
	<key>iPhoneThemesURL</key>
	<string>http://clockbuilder.gmtaz.com/resources/iphone</string>
	<key>slidesArray</key>
	<array/>
	<key>timeFormat</key>
	<string>12h</string>
	<key>updatedConstants</key>
	<array>
		<string>gmtUDID</string>
		<string>fileLinks</string>
		<string>cloud</string>
		<string>gmtAPI</string>
		<string>iPhoneThemesURL</string>
		<string>categoriesArray</string>
	</array>
	<key>weatherData</key>
	<dict>
		<key>data</key>
		<dict/>
		<key>degreeSymbol</key>
		<string>°</string>
		<key>interval</key>
		<integer>6000</integer>
		<key>location</key>
		<string>Current Location</string>
		<key>locationName</key>
		<string></string>
		<key>showDegreeSymbol</key>
		<true/>
		<key>units</key>
		<string>Fahrenheit</string>
		<key>useWindchill</key>
		<false/>
		<key>weatherIconSet</key>
		<string>Tick</string>
	</dict>
	<key>widgetClasses</key>
	<dict>
		<key>AMPMView</key>
		<dict>
			<key>didRotate</key>
			<string>NO</string>
			<key>rotateAmount</key>
			<integer>0</integer>
			<key>class</key>
			<string>textBasedWidget</string>
			<key>className</key>
			<string>AM/PM</string>
			<key>dateFormatOverride</key>
			<string>a</string>
			<key>fontColor</key>
			<data>YnBsaXN0MDDUAQIDBAUIGhtUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABowkKE1UkbnVsbNQLDA0ODxAREldVSUFscGhhV1VJV2hpdGVfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRWJGNsYXNzIj+AAAAiP4AAABACgALSFBUWGVgkY2xhc3Nlc1okY2xhc3NuYW1lohcYV1VJQ29sb3JYTlNPYmplY3RXVUlDb2xvchIAAYagXxAPTlNLZXllZEFyY2hpdmVyCBEWHygyNTo8QEZPV193foOIioyRmqWosLnBxgAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAADY</data>
			<key>fontFamily</key>
			<string>Helvetica</string>
			<key>frame</key>
			<string>{{10, 0}, {50, 40}}</string>
			<key>glowColor</key>
			<data>YnBsaXN0MDDUAQIDBAUIHh9UJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABowkKF1UkbnVsbNYLDA0ODxAREhMUFRZXVUlBbHBoYVVVSVJlZFZVSUJsdWVfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRWJGNsYXNzV1VJR3JlZW4iP4AAACIAAAAAIgAAAAAQBIACIgAAAADSGBkaHVgkY2xhc3Nlc1okY2xhc3NuYW1lohscV1VJQ29sb3JYTlNPYmplY3RXVUlDb2xvchIAAYagXxAPTlNLZXllZEFyY2hpdmVyCBEWHygyNTo8QEZTW2FogIePlJmeoKKnrLXAw8vU3OEAAAAAAAABAQAAAAAAAAAgAAAAAAAAAAAAAAAAAAAA8w==</data>
			<key>opacity</key>
			<string>1</string>
			<key>subClass</key>
			<string>datetime</string>
			<key>superClass</key>
			<string>AMPMView</string>
			<key>textalignment</key>
			<string>center</string>
			<key>type</key>
			<string>textWidget</string>
			<key>widgetTag</key>
			<integer>1001</integer>
		</dict>
		<key>customTextView</key>
		<dict>
			<key>rotateAmount</key>
			<integer>0</integer>
			<key>didRotate</key>
			<string>NO</string>
			<key>class</key>
			<string>textBasedWidget</string>
			<key>className</key>
			<string>Custom Text</string>
			<key>fontColor</key>
			<data>YnBsaXN0MDDUAQIDBAUIGhtUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABowkKE1UkbnVsbNQLDA0ODxAREldVSUFscGhhV1VJV2hpdGVfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRWJGNsYXNzIj+AAAAiP4AAABACgALSFBUWGVgkY2xhc3Nlc1okY2xhc3NuYW1lohcYV1VJQ29sb3JYTlNPYmplY3RXVUlDb2xvchIAAYagXxAPTlNLZXllZEFyY2hpdmVyCBEWHygyNTo8QEZPV193foOIioyRmqWosLnBxgAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAADY</data>
			<key>fontFamily</key>
			<string>Helvetica</string>
			<key>frame</key>
			<string>{{10, 0}, {320, 30}}</string>
			<key>glowColor</key>
			<data>YnBsaXN0MDDUAQIDBAUIHh9UJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABowkKF1UkbnVsbNYLDA0ODxAREhMUFRZXVUlBbHBoYVVVSVJlZFZVSUJsdWVfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRWJGNsYXNzV1VJR3JlZW4iP4AAACIAAAAAIgAAAAAQBIACIgAAAADSGBkaHVgkY2xhc3Nlc1okY2xhc3NuYW1lohscV1VJQ29sb3JYTlNPYmplY3RXVUlDb2xvchIAAYagXxAPTlNLZXllZEFyY2hpdmVyCBEWHygyNTo8QEZTW2FogIePlJmeoKKnrLXAw8vU3OEAAAAAAAABAQAAAAAAAAAgAAAAAAAAAAAAAAAAAAAA8w==</data>
			<key>opacity</key>
			<string>1</string>
			<key>subClass</key>
			<string>text</string>
			<key>superClass</key>
			<string>customTextView</string>
			<key>text</key>
			<string>This is some text</string>
			<key>textalignment</key>
			<string>center</string>
			<key>type</key>
			<string>textWidget</string>
			<key>widgetTag</key>
			<integer>1006</integer>
		</dict>
		<key>DayNumberView</key>
		<dict>
			<key>rotateAmount</key>
			<integer>0</integer>
			<key>didRotate</key>
			<string>NO</string>
			<key>class</key>
			<string>textBasedWidget</string>
			<key>className</key>
			<string>Day (number)</string>
			<key>dateFormatOverride</key>
			<string>dd</string>
			<key>fontColor</key>
			<data>YnBsaXN0MDDUAQIDBAUIGhtUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABowkKE1UkbnVsbNQLDA0ODxAREldVSUFscGhhV1VJV2hpdGVfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRWJGNsYXNzIj+AAAAiP4AAABACgALSFBUWGVgkY2xhc3Nlc1okY2xhc3NuYW1lohcYV1VJQ29sb3JYTlNPYmplY3RXVUlDb2xvchIAAYagXxAPTlNLZXllZEFyY2hpdmVyCBEWHygyNTo8QEZPV193foOIioyRmqWosLnBxgAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAADY</data>
			<key>fontFamily</key>
			<string>Helvetica</string>
			<key>frame</key>
			<string>{{10, 0}, {50, 40}}</string>
			<key>glowColor</key>
			<data>YnBsaXN0MDDUAQIDBAUIHh9UJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABowkKF1UkbnVsbNYLDA0ODxAREhMUFRZXVUlBbHBoYVVVSVJlZFZVSUJsdWVfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRWJGNsYXNzV1VJR3JlZW4iP4AAACIAAAAAIgAAAAAQBIACIgAAAADSGBkaHVgkY2xhc3Nlc1okY2xhc3NuYW1lohscV1VJQ29sb3JYTlNPYmplY3RXVUlDb2xvchIAAYagXxAPTlNLZXllZEFyY2hpdmVyCBEWHygyNTo8QEZTW2FogIePlJmeoKKnrLXAw8vU3OEAAAAAAAABAQAAAAAAAAAgAAAAAAAAAAAAAAAAAAAA8w==</data>
			<key>opacity</key>
			<string>1</string>
			<key>subClass</key>
			<string>datetime</string>
			<key>superClass</key>
			<string>DayNumberView</string>
			<key>textalignment</key>
			<string>center</string>
			<key>type</key>
			<string>textWidget</string>
			<key>widgetTag</key>
			<integer>1002</integer>
		</dict>
		<key>DayView</key>
		<dict>
			<key>rotateAmount</key>
			<integer>0</integer>
			<key>didRotate</key>
			<string>NO</string>
			<key>class</key>
			<string>textBasedWidget</string>
			<key>className</key>
			<string>Day of Week</string>
			<key>dateFormatOverride</key>
			<string>EEEE</string>
			<key>fontColor</key>
			<data>YnBsaXN0MDDUAQIDBAUIGhtUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABowkKE1UkbnVsbNQLDA0ODxAREldVSUFscGhhV1VJV2hpdGVfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRWJGNsYXNzIj+AAAAiP4AAABACgALSFBUWGVgkY2xhc3Nlc1okY2xhc3NuYW1lohcYV1VJQ29sb3JYTlNPYmplY3RXVUlDb2xvchIAAYagXxAPTlNLZXllZEFyY2hpdmVyCBEWHygyNTo8QEZPV193foOIioyRmqWosLnBxgAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAADY</data>
			<key>fontFamily</key>
			<string>Helvetica</string>
			<key>frame</key>
			<string>{{10, 0}, {320, 30}}</string>
			<key>glowColor</key>
			<data>YnBsaXN0MDDUAQIDBAUIHh9UJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABowkKF1UkbnVsbNYLDA0ODxAREhMUFRZXVUlBbHBoYVVVSVJlZFZVSUJsdWVfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRWJGNsYXNzV1VJR3JlZW4iP4AAACIAAAAAIgAAAAAQBIACIgAAAADSGBkaHVgkY2xhc3Nlc1okY2xhc3NuYW1lohscV1VJQ29sb3JYTlNPYmplY3RXVUlDb2xvchIAAYagXxAPTlNLZXllZEFyY2hpdmVyCBEWHygyNTo8QEZTW2FogIePlJmeoKKnrLXAw8vU3OEAAAAAAAABAQAAAAAAAAAgAAAAAAAAAAAAAAAAAAAA8w==</data>
			<key>opacity</key>
			<string>1</string>
			<key>subClass</key>
			<string>datetime</string>
			<key>superClass</key>
			<string>DayView</string>
			<key>textalignment</key>
			<string>center</string>
			<key>type</key>
			<string>textWidget</string>
			<key>widgetTag</key>
			<integer>1003</integer>
		</dict>
		<key>monthView</key>
		<dict>
			<key>rotateAmount</key>
			<integer>0</integer>
			<key>didRotate</key>
			<string>NO</string>
			<key>class</key>
			<string>textBasedWidget</string>
			<key>className</key>
			<string>Month</string>
			<key>dateFormatOverride</key>
			<string>MMMM</string>
			<key>fontColor</key>
			<data>YnBsaXN0MDDUAQIDBAUIGhtUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABowkKE1UkbnVsbNQLDA0ODxAREldVSUFscGhhV1VJV2hpdGVfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRWJGNsYXNzIj+AAAAiP4AAABACgALSFBUWGVgkY2xhc3Nlc1okY2xhc3NuYW1lohcYV1VJQ29sb3JYTlNPYmplY3RXVUlDb2xvchIAAYagXxAPTlNLZXllZEFyY2hpdmVyCBEWHygyNTo8QEZPV193foOIioyRmqWosLnBxgAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAADY</data>
			<key>fontFamily</key>
			<string>Helvetica</string>
			<key>frame</key>
			<string>{{10, 0}, {320, 30}}</string>
			<key>glowColor</key>
			<data>YnBsaXN0MDDUAQIDBAUIHh9UJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABowkKF1UkbnVsbNYLDA0ODxAREhMUFRZXVUlBbHBoYVVVSVJlZFZVSUJsdWVfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRWJGNsYXNzV1VJR3JlZW4iP4AAACIAAAAAIgAAAAAQBIACIgAAAADSGBkaHVgkY2xhc3Nlc1okY2xhc3NuYW1lohscV1VJQ29sb3JYTlNPYmplY3RXVUlDb2xvchIAAYagXxAPTlNLZXllZEFyY2hpdmVyCBEWHygyNTo8QEZTW2FogIePlJmeoKKnrLXAw8vU3OEAAAAAAAABAQAAAAAAAAAgAAAAAAAAAAAAAAAAAAAA8w==</data>
			<key>opacity</key>
			<string>1</string>
			<key>subClass</key>
			<string>datetime</string>
			<key>superClass</key>
			<string>monthView</string>
			<key>textalignment</key>
			<string>center</string>
			<key>type</key>
			<string>textWidget</string>
			<key>widgetTag</key>
			<integer>1004</integer>
		</dict>
		<key>TimeView</key>
		<dict>
			<key>rotateAmount</key>
			<integer>0</integer>
			<key>didRotate</key>
			<string>NO</string>
			<key>class</key>
			<string>textBasedWidget</string>
			<key>className</key>
			<string>Time</string>
			<key>dateFormatOverride</key>
			<string>hh:mm</string>
			<key>fontColor</key>
			<data>YnBsaXN0MDDUAQIDBAUIGhtUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABowkKE1UkbnVsbNQLDA0ODxAREldVSUFscGhhV1VJV2hpdGVfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRWJGNsYXNzIj+AAAAiP4AAABACgALSFBUWGVgkY2xhc3Nlc1okY2xhc3NuYW1lohcYV1VJQ29sb3JYTlNPYmplY3RXVUlDb2xvchIAAYagXxAPTlNLZXllZEFyY2hpdmVyCBEWHygyNTo8QEZPV193foOIioyRmqWosLnBxgAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAADY</data>
			<key>fontFamily</key>
			<string>Helvetica</string>
			<key>frame</key>
			<string>{{10, 0}, {70, 30}}</string>
			<key>glowColor</key>
			<data>YnBsaXN0MDDUAQIDBAUIHh9UJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABowkKF1UkbnVsbNYLDA0ODxAREhMUFRZXVUlBbHBoYVVVSVJlZFZVSUJsdWVfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRWJGNsYXNzV1VJR3JlZW4iP4AAACIAAAAAIgAAAAAQBIACIgAAAADSGBkaHVgkY2xhc3Nlc1okY2xhc3NuYW1lohscV1VJQ29sb3JYTlNPYmplY3RXVUlDb2xvchIAAYagXxAPTlNLZXllZEFyY2hpdmVyCBEWHygyNTo8QEZTW2FogIePlJmeoKKnrLXAw8vU3OEAAAAAAAABAQAAAAAAAAAgAAAAAAAAAAAAAAAAAAAA8w==</data>
			<key>opacity</key>
			<string>1</string>
			<key>subClass</key>
			<string>datetime</string>
			<key>superClass</key>
			<string>TimeView</string>
			<key>textalignment</key>
			<string>center</string>
			<key>type</key>
			<string>textWidget</string>
			<key>widgetTag</key>
			<integer>1000</integer>
		</dict>
		<key>weatherIconView</key>
		<dict>
			<key>glowColor</key>
			<data>YnBsaXN0MDDUAQIDBAUIHh9UJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABowkKF1UkbnVsbNYLDA0ODxAREhMUFRZXVUlBbHBoYVVVSVJlZFZVSUJsdWVfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRWJGNsYXNzV1VJR3JlZW4iP4AAACIAAAAAIgAAAAAQBIACIgAAAADSGBkaHVgkY2xhc3Nlc1okY2xhc3NuYW1lohscV1VJQ29sb3JYTlNPYmplY3RXVUlDb2xvchIAAYagXxAPTlNLZXllZEFyY2hpdmVyCBEWHygyNTo8QEZTW2FogIePlJmeoKKnrLXAw8vU3OEAAAAAAAABAQAAAAAAAAAgAAAAAAAAAAAAAAAAAAAA8w==</data>
			<key>fontFamily</key>
			<string>Helvetica</string>
			<key>fontColor</key>
			<data>YnBsaXN0MDDUAQIDBAUIGhtUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABowkKE1UkbnVsbNQLDA0ODxAREldVSUFscGhhV1VJV2hpdGVfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRWJGNsYXNzIj+AAAAiP4AAABACgALSFBUWGVgkY2xhc3Nlc1okY2xhc3NuYW1lohcYV1VJQ29sb3JYTlNPYmplY3RXVUlDb2xvchIAAYagXxAPTlNLZXllZEFyY2hpdmVyCBEWHygyNTo8QEZPV193foOIioyRmqWosLnBxgAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAADY</data>
			<key>rotateAmount</key>
			<integer>0</integer>
			<key>didRotate</key>
			<string>NO</string>
			<key>class</key>
			<string>weatherIconView</string>
			<key>className</key>
			<string>Weather Icon</string>
			<key>forecast</key>
			<string>current</string>
			<key>frame</key>
			<string>{{20, 20}, {128, 128}}</string>
			<key>iconSet</key>
			<string>HTC</string>
			<key>opacity</key>
			<string>1</string>
			<key>subClass</key>
			<string>weather</string>
			<key>type</key>
			<string>imageWidget</string>
			<key>widgetTag</key>
			<integer>2000</integer>
		</dict>
		<key>weatherTextView</key>
		<dict>
			<key>rotateAmount</key>
			<integer>0</integer>
			<key>didRotate</key>
			<string>NO</string>
			<key>class</key>
			<string>textBasedWidget</string>
			<key>className</key>
			<string>Weather Text Item</string>
			<key>fontColor</key>
			<data>YnBsaXN0MDDUAQIDBAUIGhtUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABowkKE1UkbnVsbNQLDA0ODxAREldVSUFscGhhV1VJV2hpdGVfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRWJGNsYXNzIj+AAAAiP4AAABACgALSFBUWGVgkY2xhc3Nlc1okY2xhc3NuYW1lohcYV1VJQ29sb3JYTlNPYmplY3RXVUlDb2xvchIAAYagXxAPTlNLZXllZEFyY2hpdmVyCBEWHygyNTo8QEZPV193foOIioyRmqWosLnBxgAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAADY</data>
			<key>fontFamily</key>
			<string>Helvetica</string>
			<key>forecast</key>
			<string>current</string>
			<key>frame</key>
			<string>{{10, 0}, {320, 30}}</string>
			<key>glowColor</key>
			<data>YnBsaXN0MDDUAQIDBAUIHh9UJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABowkKF1UkbnVsbNYLDA0ODxAREhMUFRZXVUlBbHBoYVVVSVJlZFZVSUJsdWVfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRWJGNsYXNzV1VJR3JlZW4iP4AAACIAAAAAIgAAAAAQBIACIgAAAADSGBkaHVgkY2xhc3Nlc1okY2xhc3NuYW1lohscV1VJQ29sb3JYTlNPYmplY3RXVUlDb2xvchIAAYagXxAPTlNLZXllZEFyY2hpdmVyCBEWHygyNTo8QEZTW2FogIePlJmeoKKnrLXAw8vU3OEAAAAAAAABAQAAAAAAAAAgAAAAAAAAAAAAAAAAAAAA8w==</data>
			<key>opacity</key>
			<string>1</string>
			<key>subClass</key>
			<string>weather</string>
			<key>superClass</key>
			<string>weatherTextView</string>
			<key>text</key>
			<string></string>
			<key>textalignment</key>
			<string>center</string>
			<key>textItemType</key>
			<string>Location</string>
			<key>type</key>
			<string>textWidget</string>
			<key>widgetTag</key>
			<integer>2001</integer>
		</dict>
		<key>YearView</key>
		<dict>
			<key>rotateAmount</key>
			<integer>0</integer>
			<key>didRotate</key>
			<string>NO</string>
			<key>class</key>
			<string>textBasedWidget</string>
			<key>className</key>
			<string>Year</string>
			<key>dateFormatOverride</key>
			<string>yyyy</string>
			<key>fontColor</key>
			<data>YnBsaXN0MDDUAQIDBAUIGhtUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABowkKE1UkbnVsbNQLDA0ODxAREldVSUFscGhhV1VJV2hpdGVfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRWJGNsYXNzIj+AAAAiP4AAABACgALSFBUWGVgkY2xhc3Nlc1okY2xhc3NuYW1lohcYV1VJQ29sb3JYTlNPYmplY3RXVUlDb2xvchIAAYagXxAPTlNLZXllZEFyY2hpdmVyCBEWHygyNTo8QEZPV193foOIioyRmqWosLnBxgAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAADY</data>
			<key>fontFamily</key>
			<string>Helvetica</string>
			<key>frame</key>
			<string>{{10, 0}, {60, 30}}</string>
			<key>glowColor</key>
			<data>YnBsaXN0MDDUAQIDBAUIHh9UJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABowkKF1UkbnVsbNYLDA0ODxAREhMUFRZXVUlBbHBoYVVVSVJlZFZVSUJsdWVfEBVVSUNvbG9yQ29tcG9uZW50Q291bnRWJGNsYXNzV1VJR3JlZW4iP4AAACIAAAAAIgAAAAAQBIACIgAAAADSGBkaHVgkY2xhc3Nlc1okY2xhc3NuYW1lohscV1VJQ29sb3JYTlNPYmplY3RXVUlDb2xvchIAAYagXxAPTlNLZXllZEFyY2hpdmVyCBEWHygyNTo8QEZTW2FogIePlJmeoKKnrLXAw8vU3OEAAAAAAAABAQAAAAAAAAAgAAAAAAAAAAAAAAAAAAAA8w==</data>
			<key>opacity</key>
			<string>1</string>
			<key>subClass</key>
			<string>datetime</string>
			<key>superClass</key>
			<string>YearView</string>
			<key>textalignment</key>
			<string>center</string>
			<key>type</key>
			<string>textWidget</string>
			<key>widgetTag</key>
			<integer>1005</integer>
		</dict>
	</dict>
	<key>widgetsList</key>
	<array/>
</dict>
</plist>
